<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gyerekek</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Jó és rossz gyerekek</h1>
    <ul>
    <% gyerekek.forEach((gy) => { %>
      <li>
        <a href="/gyerekek/<%= gy.id %>"></a>
        <%= gy.nev %>
      </li>
    <% }) %>
    </ul>
</body>
</html>
