<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post">
    <div>
      <label>
        Név: <br>
        <input type="text" name="nev">
      </label>
    </div>

    <div>
      <label>
        Jó volt?
        <input type="hidden" name="jo" value="0">
        <input type="checkbox" name="jo" value="1">
      </label>
    </div>

    <div>
      <label>
        Ajándék:
        <input type="text" name="ajandek">
      </label>
    </div>

    <div>
      <input type="submit" value="Új gyerek">
    </div>
  </form>
</body>
</html>
